.main{
    display: flex;
    flex: 1;
    background-image: url("photos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    
}
.contain{
    display: flex;
    flex: 1;
    max-width: 70%;
    flex-direction: column;
    height: 33rem;
    align-items:center;
}
.c-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border: outset;
    width: 55%;
    background-color: white;
    border-radius: 2rem;
    border-color: rgba(0, 128, 128, 0.678);
    filter: opacity(0.9);
    border-width: 0.3rem;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    background-color:black;
    border-width: 0.3rem;
}

.giris{
    display: flex;
}

.d-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border: outset;
    width: 55%;
    background-color: white;
    border-radius: 2rem;
    filter: opacity(0.9);
    border-color: rgba(0, 128, 128, 0.678);
}

.e-row{
    display:flex;
    flex-direction: row;
    margin-bottom: 1rem;
}


