#slider {
   overflow: hidden;
   margin-bottom: 1rem;
   margin-top: 1rem;
}

@keyframes slider {
	0% { left: -3%; }
	30% { left: -3%; }
	33% { left: -103%; }
	63% { left: -103%; }
	66% { left: -203.3%; }
	95% { left: -203.3%; }
	100% { left: -3%; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure:hover {
	animation-play-state: paused;
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
}