.main{
    display: flex;
    flex: 1;
    justify-content: center;
    background-image: url(photos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.rows{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.left2{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    background-color: rgb(3 9 47 / 89%);
    border-radius: 3rem;
}
.title{
    display: flex;
    margin-bottom:7rem;
    color: rgb(50 239 239 / 68%);
}
.right2{
    display: flex;
    flex: 2;
    background-color: rgb(3 9 47 / 89%);
    border-radius: 3rem;
}
.p-ticket{
    display: flex;
    border: solid;
    border-color: rgb(255 255 255 / 39%);
    width: 15rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
    margin-top: 3rem;
}
.a2{
    font-size: 20px;
    text-decoration: none;
    padding-right: 2rem;
    padding-left: 2rem;
    color: rgb(50 239 239 / 68%);
}


