.box{
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: center;
    background-image: url(photos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1rem;
  }
  .contain{
      display: flex;
      flex: 1;
      max-width: 70%;
      flex-direction: column;
  }
  .c-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: outset;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgb(232 66 66 / 51%);
    border-width: 0.3rem;
    border-radius: 3rem;
    filter: invert(1);
  }
  .a-row{
      display: flex;
      flex-direction: column;
      padding: 1%;
      width: 50%;
  }
  .ticket{
      display: flex;
      flex: 1;
      padding-right: 5rem;
  }
  .way{
      display: flex;
      flex: 1;
      width: 12rem;
  }
  .start{
      display: flex;
      flex: 1;
      padding-right: 5rem;
  }
  .end{
      display: flex;
      flex: 1;
      width: 12rem;
  }
  .sdate{
      display: flex;
      flex: 1;
      padding-right: 5rem;
  }
  .edate{
      display: flex;
      flex: 1;
      width: 12rem;
  }
  .s1{
      display: flex;
      padding-right: 1rem;
  }
  .container {
      display: flex;
      flex-direction: row;
      height: 17rem;
      width: 87%;
    }
    
    .image {
      display: block;
      width: 100%;
      image-rendering: pixelated;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008bba63;
    }
  
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  
    .a{
        display: flex;
        position: relative;
        margin: 2px;
        width: 25%;
    }
  
    .a:hover .overlay {
      opacity: 1;
    }
  
    .b{
      display: flex;
      position: relative;
      margin: 2px;
      width: 25%;
    }
  
    .b:hover .overlay {
      opacity: 1;
    }
  
    .c{
      display: flex;
      position: relative;
      margin: 2px;
      width: 50%;
    }
  
    .c:hover .overlay {
      opacity: 1;
    }
    .container2 {
      display: flex;
      flex-direction: row;
      width: 87%;
    }
    .d{
      display: flex;
      flex: 1;
      position: relative;
      margin: 2px;
    }
  
    .d:hover .overlay {
      opacity: 1;
    }
  
    .e1{
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  
    .e{
      display: flex;
      position: relative;
      margin: 2px;
    }
  
    .e:hover .overlay {
      opacity: 1;
    }
    .f{
      display: flex;
      position: relative;
      margin: 2px;
    }
  
    .f:hover .overlay {
      opacity: 1;
    }
    .search{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    .a-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .details{
      display: flex;
      flex: 1;
      margin-bottom: 1rem;
      filter: invert(1);
    }
    .div1{
      display: flex;
      flex-direction: row;
      margin: 1rem;
    }
  